//
// Base
// --------------------------------------------------



// Reset the box-sizing
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/ (and no, performance is not an issue)
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    padding: 20px;
}